services:
    generator:
        build: ./generator
        volumes:
            - raw:/data/input
    transformer:
        build: ./transformer
        depends_on:
            - generator
        volumes:
            - raw:/data/input
            - processed:/data/processed 
    loader:  
        build: ./loader
        depends_on:
            - transformer
        volumes:
            - processed:/data/processed 
            - db:/data/db
    api:
        build: ./api
        depends_on:
            - loader
        volumes:
            - db:/data/db
        ports:
            - "5000:5000"

volumes:
    raw:
    processed:
    db: