version: "3.8"
services:
    generator:
    transformer:
        depends_on:
            - generator
    loader:  
        depends_on:
            - transformer
    api:
        depends_on:
            - loader
        build:
        ports: "5000:5000"

volumes:
    raw:
    processed:
    db:


# docker compose up

# correct if 